<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ab.quake_iii">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyARLi5lVDsohtSSY2d0pCBCDIMlnl3K_Kg"/>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MapActivity"/>
        <activity android:name=".SimulationActivity"/>
        <activity android:name=".EarthquakeListActivity"/>
        <activity android:name=".OptionsActivity"/>
    </application>

</manifest>